@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1, 2 rue André Ampère - 2083<br />
    Pôle Technologique - El Ghazala.<br />
    <abbr title="Phone">Phone:</abbr>
    (216) 70 250 000
</address>

<address>
    <strong>Website:</strong>   <a href="https://esprit.tn">esprit.tn</a><br />
    <strong>Email:</strong> <a href="contact@esprit.tn">contact@esprit.tn</a>
</address>