@{
    ViewBag.Title = "Home Page";
}



<body style="        background-image: url('../../Controllers/images/penserAvous.png');
                     background-repeat: no-repeat;
                     background-attachment: fixed;
                     background-size: cover;
                     background-position: center center;">






































</body>